
bin/
obj/
*.orig
*.user
*.suo
/Source/Substrings/random.txt

*.obj
*.exe
*.cache
*.log
*.lib


/Source/Substrings/templates.txt
YMNIK/*
NuGet/*.nupkg
Source/packages/*
Brahman/OpenCL/packages/*
Source/ArrayFunctions/packages/*
Source/Fractals/FractalsGPU/packages/*
!Source/Fractals/FractalsGPU/packages/*.config
Source/Bulgakov/Example/packages/*
!Source/Bulgakov/Example/packages/*.config
Source/Kovalev/MyExample/packages/*
Source/Kovalev/TTA-Processor/packages/*
RXExample/packages/*
Source/Bulgakov/MyProcessor/packages/*
!Source/Bulgakov/MyProcessor/packages/*.config
!Source/Bulgakov/MyProcessor/.nuget/*

_ReSharper.*
packages
.nuget
!Source/Bulgakov/MyProcessor/MyProcessor.v12.suo