
bin/
obj/
*.suo
*.user
*.orig
/Source/Substrings/random.txt

/Source/Substrings/templates.txt
YMNIK/*
NuGet/*.nupkg
Source/packages/*
Brahman/OpenCL/packages/*
Source/ArrayFunctions/packages/*
Source/Fractals/FractalsGPU/packages/*
!Source/Fractals/FractalsGPU/packages/*.config
