
bin/
obj/
*.suo
*.user
*.orig
/Source/Substrings/random.txt

/Source/Substrings/templates.txt
YMNIK/*
NuGet/*.nupkg
Source/packages/*
Brahman/OpenCL/packages/*
Source/ArrayFunctions/packages/*
Source/Fractals/FractalsGPU/packages/*
!Source/Fractals/FractalsGPU/packages/*.config
Source/Bulgakov/Example/packages/*
!Source/Bulgakov/Example/packages/*.config
Source/Kovalev/MyExample/packages/*
Source/Kovalev/TTA-Processor/packages/*
RXExample/*
Source/Bulgakov/*
Source/Kovalev/*
